/* ------ MIXINS ------- */
@mixin breakpoint($point) {
    @if $point == TABLET {
        @media only screen and (max-width: 768px) { @content; }
    }
    @else if $point == MOBILE {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $point == MOBILE_LANDSCAPE {
        @media only screen and (max-width: 600px) and (orientation:landscape) { @content; }
    }
}

@mixin linear-gradient($topColor, $bottomColor, $defaultColor) {
    background: -moz-linear-gradient(top, $topColor 0%, $bottomColor 100%) repeat scroll 0 0 $defaultColor;
    background: -webkit-linear-gradient(top , $topColor 0%, $bottomColor 100%) repeat scroll 0 0 $defaultColor;
    background: -ms-linear-gradient(top , $topColor 0%, $bottomColor 100%) repeat scroll 0 0 $defaultColor;
    background: linear-gradient(top , $topColor 0%, $bottomColor 100%) repeat scroll 0 0 $defaultColor;
}

/* ------ UTILS ------- */
%clearfix {
    zoom: 1;
    &:before{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
    }
    &:after{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both;
    }
}

/* ------ COLORS ------- */
$white: #fff;

/* ------ INHERITANCE ------- */
@import "lib/normalize.scss";
@import "partials/svg/icons.data.svg";

/* ------ CSS ------- */
//box size all the things!
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    &:before{
        content:"desktop"; display: none;
        @include breakpoint(TABLET) { content:"tablet"; }
        @include breakpoint(MOBILE) { content:"mobile"; }
        @include breakpoint(MOBILE_LANDSCAPE) { content:"mobile-landscape"; }
    }
}

/* ------ DEMO - DELETE ME ------- */
body {
    padding: 20px;
    @include breakpoint(TABLET){
        padding: 10px;
    }

    .icon-svg-logo {
        height: 30px;
        padding: 5px 0 0 35px;
    }
}